# BASE SEPOLIA TESTNET
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
ETHERSCAN_API_KEY="YOUR_ETHERSCAN_API_KEY"
PRIVATE_KEY="YOUR_PRIVATE_KEY"

# BASE MAINNET
BASE_MAINNET_RPC_URL=https://mainnet.base.org
BASESCAN_API_KEY="YOUR_BASESCAN_API_KEY"

# ANVIL LOCALLY
LOCALLY_RPC_URL=http://localhost:8545
# this is test private key from anvil, don't use in production
ANVIL_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

REGISTRATION_FEE_WEI=0.0001
MIN_RATER_STAKE_WEI=0.001
MAX_UNIQUE_RATERS_PER_PERIOD=10

# BASE MAINNET CONTRACTS ADDRESSES
ERC8004_IDENTITY_REGISTRY=0x2Ad463E1f6783e610504A1027D6AdE8b2DcF10b2
ERC8004_REPUTATION_REGISTRY=0x96EE446A832b7AdcF598C4B2340131f622677c25